* {
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgba(199, 192, 192, 0.487);
}

.container {
    background: white;
    max-width: 1064px;
    margin: 0 auto;
}

.titleGeneral h1 {
    padding-left: 25px;
    color: #4681d6;
}

/*  Criando o Header */
header {
    background: #099759;
    /* Altura */
    height: 130px;
    border-bottom: 2px solid black;
    /* Flexbox */
    display: flex;
    align-items: center;
}


header img {
    margin-left: 15px;
    margin-right: 20px;
}

header h2 {
    color: white;
    text-transform: uppercase;
    font-size: 30px;
}

/* Menu do site */
.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1bb76ed0;
}

.menu li {
    /* Espaçamentos */
    padding: 18px;
}

.menu li a {
    font-size: 23px;
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 18px;
}

.menu li a:hover {
    text-decoration: underline;
}

/* Banner    */
.banner {
    max-width: 1000px;
    height: 250px;
    border: 2px solid rgb(191, 191, 255);
    border-radius: 10px;
    box-shadow: 2px 2px 2px #bcbaba;
    margin: 20px;
    /* Cortar imagem */
    overflow: hidden;
}

/* Content HOME */
.content-box {
    margin: 20px;

    /* Flexbox */
    display: flex;
}

.box {
    border: 2px solid rgb(191, 191, 255);
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px 35px 20px 20px;
    /* Sombra */
    box-shadow: 2px 2px 2px #bcbaba;
}

.box img {
    border-bottom: 2px solid #4681d6;
}


.box p {
    padding: 10px;
    color: rgb(99, 95, 95);

}

.box a {
    padding: 0 0 10px 10px;
    display: block;
    color: rgb(0, 170, 255);
    text-decoration: none;
    /* Negrito */
    font-weight: bold;
}

.box a:hover {
    text-decoration: underline;
}

.promocao {
    /* Flexbox */
    display: flex;
    justify-content: center;
}

.promocao img {
    max-width: 800px;
    height: 180px;
    border: 2px solid rgb(191, 191, 255);
    box-shadow: 2px 2px 2px #bcbaba;
    border-radius: 10px;
    margin: 20px;
    /* Cortar imagem */
    overflow: hidden;
}

/* Novidades */
.novidades {
    background-color: lightgrey;
    margin-top: 20px;
    /* Flexbox */
    display: flex;
    justify-content: space-around;
    
}

.novidades span {
    font-size: 80px;
}

.novidades article {
    /* Flexbox */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.novidades form {
    width: 100%;
}

.novidades form input {
    padding-left: 10px;
    max-width: 300px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid grey;
    box-shadow: 2px 2px 2px #bcbaba;
    background-color: rgb(191, 191, 255);
}

.novidades form button {
    box-shadow: 2px 2px 2px #bcbaba;
    border: 1px solid rgb(125, 125, 252);
    background-color: rgb(191, 191, 255);
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color: black;
    font-weight: bold;
}

footer {
    background: #000 ;
    height: 40px;
    /* FlexBox */
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: grey;
    font-weight: bold;
}

/* Página Sobre */
.spaceSobre {
    margin: 20px 0 20px 0;
}